<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiuyi.cn.orangemoduleNew">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--创建文件与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--往sdcard中写入数据的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />



    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".activity.GoodsActivity"/>
        <activity android:name=".activity.ShoppingCarActivity"/>
        <activity android:name=".activity.OrderActivity"/>
        <activity android:name=".activity.OtherActivity"/>
        <activity android:name=".activity.PayendActivity"/>
        <activity android:name=".activity.UdiskActivity"/>
        <activity android:name=".activity.UserMoreMsgActivity"/>
        <activity android:name=".activity.FileControllActivity"/>
        <activity android:name=".activity.FileShowActivity"/>
        <activity android:name=".activity.BkrtActivity"/>
        <activity android:name=".activity.SecretActivity"/>
        <activity android:name=".activity.SecretContentActivity"/>
        <activity android:name=".activity.AllFileShowActivity"/>
        <activity android:name=".upanupdate.AllUdiskFileShowActivity"/>
        <activity android:name=".activity.UFileShowActivity"/>
        <activity android:name=".upan.UAllFileShowActivity"/>
        <activity android:name=".upan.readUSBActivity"/>
        <activity android:name=".upan.writeUSBActivity"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.CollectionActivity"/>
        <activity android:name=".upansaf.ui.FileActivity"/>

        <meta-data android:name="DATABASE" android:value="OrangeModule.db"/>
        <meta-data android:name="VERSION" android:value="2"/>
        <meta-data android:name="QUERY_LOG" android:value="true"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME"  android:value="com.qiuyi.cn.orangemodule.upansaf.db.bean"/>


        <!--从U盘中查找备份的文件-->
        <service android:name=".util.FileManager.service.FindUpanRestore_Service"
            android:enabled="true"
            android:exported="true"/>

        <!--从U盘中查找联系人-->
        <service android:name=".util.FileManager.service.FindUpanConstacts"
            android:enabled="true"
            android:exported="true"/>
        <!--查找联系人-->
        <service android:name=".util.FileManager.service.FindContacts"
            android:enabled="true"
            android:exported="true"/>
        <!--查找U盘文件-->
        <service android:name=".util.FileManager.service.FindUpanMsg_Service"
            android:enabled="true"
            android:exported="true"/>
        <!--查找文件-->
        <service android:name=".util.FileManager.service.FindFileMsg_Service"
            android:enabled="true"
            android:exported="true"/>
        <!--查找所有文件-->
        <service android:name=".util.FileManager.service.FindAllFile_Service"
            android:enabled="true"
            android:exported="true"/>
        <!--查找所有文件2-->
        <service android:name=".util.FileManager.service.FindAllFile_II_Service"
            android:enabled="true"
            android:exported="true"/>

        <!--检测usb新模块插入-->
        <service android:name=".service.UsbComService"
            android:enabled="true"
            android:exported="true"/>

        <!--检测框架数据模块-->
        <service android:name=".service.UsbService"
            android:enabled="true"
            android:exported="true"/>
        <!--检测空气数据模块-->
        <service android:name=".service.UsbPMService"
            android:enabled="true"
            android:exported="true"/>
        <!--检测甲醛模块数据-->
        <service android:name=".service.UsbJQService"
            android:enabled="true"
            android:exported="true"/>
        <!--检测水质模块数据-->
        <service android:name=".service.UsbWaterService"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>